
<div class="container p-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3>Datos personales</h3>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Nombres y apellidos:</h4>
          <span class="card-text">Manuel Fernandez Leon</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cédula</h4>
          <span class="card-text">1121216972</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Departamento de expedición del documento:</h4>
          <br />
          <span class="card-text">No informada</span>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lugar de expedición del documento:</h4>
          <br />
          <span class="card-text">No informada</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sexo biológico:</h4>
          <span class="card-text">Hombre</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Etnia</h4>
          <span class="card-text">No informada</span>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Correo personal:</h4>
          <br />
          <span class="card-text">manuelfer1996@gmail.com</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Correo institucional:</h4>
          <br />
          <span class="card-text">mafernandezle@unal.edu.co</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Teléfono Móvil:</h4>
          <span class="card-text">No informado</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Teléfono fijo:</h4>
          <span class="card-text">No informada</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row text-center">
    <div class="col-md-12">
      <button class="btn btn-info"><h3>Modificar datos</h3></button>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3>Apoyo Socioeconomico</h3>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Nombre del apoyo</h4>
          <span class="card-text">No informado</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Estado</h4>
          <span class="card-text">No aplica</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <button class="btn btn-success"> <h3>Solicitar apoyo</h3>      </button>
        </div>
      </div>
    </div>
  </div>
</div>
