<div _ngcontent-dls-c30="" class="col-md-6 border border-secondary p-5 rounded">
	<h1 _ngcontent-dls-c30="">Buscar Apoyos del estudiante</h1>
	<br _ngcontent-dls-c30="">
		<form _ngcontent-dls-c30="" novalidate="">
			<div _ngcontent-dls-c30="" class="form-row align-items-center">
				<div _ngcontent-dls-c30="" class="col my-1">
					<label _ngcontent-dls-c30="" for="inlineFormInputEstudianteUsername" class="sr-only">NombreEstudiante</label>
					<input _ngcontent-dls-c30="" type="text" id="inlineFormInputEstudianteUsername" placeholder="Cedula del Estudiante" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
        </div>
			</div>
			<div _ngcontent-dls-c30="" class="col-auto my-1 mt-4">
				<a _ngcontent-dls-c30="" (click)="apoyo_validado()" role="button" class="btn btn-primary mr-2">VALIDAR</a>
			</div>
		</form>
</div>
