<div class="container p-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3>Crear estudiante</h3>
        </div>
        <div class="card-body">
          <form _ngcontent-dls-c35="" novalidate="">
            <div _ngcontent-dls-c35="" class="form-row">
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Nivel de estudio</label>
                <select _ngcontent-dls-c35="" class="form-control">
                  <option _ngcontent-dls-c35="">Pregrado</option>
                  <option _ngcontent-dls-c35="">Postgrado</option>
                </select>
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Nombre1</label>
                <input _ngcontent-dls-c35="" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
              </div>
                <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Nombre2</label>
                <input _ngcontent-dls-c35="" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Apellido1</label>
                <input _ngcontent-dls-c35="" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Apellido2</label>
                <input _ngcontent-dls-c35="" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Cedula</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Departamento de expedicion del documento</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Lugar de expedicion del documento</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Sexo</label>
                <select _ngcontent-dls-c35="" class="form-control">
                  <option _ngcontent-dls-c35="">Masculino</option>
                  <option _ngcontent-dls-c35="">Femenino</option>
                </select>
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Etnia</label>
                <select _ngcontent-dls-c35="" class="form-control">
                  <option _ngcontent-dls-c35="">Mestizo</option>
                  <option _ngcontent-dls-c35="">Blanco</option>
                  <option _ngcontent-dls-c35="">Negro</option>
                  <option _ngcontent-dls-c35="">Indigena</option>
                  <option _ngcontent-dls-c35="">Otro</option>
                </select>
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Correo Institucional</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Correo Personal</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Telefono Movil</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
              <div _ngcontent-dls-c35="" class="form-group col-md-6 text-left">
                <label _ngcontent-dls-c35="">Telefono Fijo</label>
                <input _ngcontent-dls-c35="" class="form-control">
              </div>
            <br>
            <div class="text-center">
              <a _ngcontent-dls-c35=""  role="button" class="btn btn-primary mr-2"><h4>CREAR</h4></a>
              <a _ngcontent-dls-c35="" (click)="mensaje()" role="button" class="btn btn-danger mr-2"><h4>CALCULAR PBM</h4></a>
            </div>

            </div>
          </form>
        </div>
      </div>
  </div>
</div>
